//COLORS
$primary-color: rgb(36, 7, 7);
$primary-color-light: rgba(176, 255, 188, 0.557);
$primary-color-dark: rgba(7, 45, 30, 0.893);
$btn-box-shadow-hover-dark: red;
$btn-box-shadow-hover-light: rgba(67, 35, 66, 0.557);
$text-color: rgb(14, 14, 14);
$bg-color-light: rgba(205, 205, 205, 0.564);
$color-white: #eee;
$color-secondary-light: rgb(177, 143, 6);
$color-secondary-dark: rgb(168, 64, 33);
$color-tertiary-light: rgb(6, 143, 177);
$color-teritary-dark: rgb(43, 5, 96);
$color-for-underline: rgb(0, 255, 217);

//FONT
$default-font-size: 1.5rem;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
