$primary-color: rgb(36, 7, 7);
$primary-color-light: rgba(101, 2, 78, 0.858);
$primary-color-dark: rgba(65, 120, 99, 0.625);
$btn-box-shadow-hover-dark: red;
$btn-box-shadow-hover-light: rgba(67, 35, 66, 0.557);
$text-color: rgb(249, 249, 249);
