.composition {
  position: relative;
  &_photo {
    width: 55%;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.372);
    border-radius: 1px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      outline: 0.1rem solid rgb(112, 255, 196);
      transform: scla(-5rem);
      box-shadow: 0 2.5rem 4rem rgba(2, 0, 15, 0.904);
      z-index: 20;
    }
  }
  &:hover &_photo:not(:hover) {
    transform: scale(0.8);
  }
}
